@{
    ViewData["Title"] = "¡Bienvenidos al Bingo!";
}



<body>
    <div align="center"  style="transform:translateY(50%);">
       
        <h1 class="display-1">@ViewData["Title"]</h1>
        <p style="margin-top:50px">Presione el boton "Generar cartones" para comenzar el bingo</p>
        <a class="btn btn-primary" href="Bingo/Index" role="button">Generar cartones</a>
    </div>
</body>

